@import url("formulario.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

span,
a,
label {
  display: block;
  text-decoration: none;
}

:root {
  --cor-principal: #5842be;
  --bg: #13141b;
  --bg1: #151724;
  --cor1: #4b4b55;
  --cor-texto: #fff;
  --cor-texto2: #a5a9b4;
  --border-color: #e8e9ee;
}

body,
html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", "Roboto", sans-serif;
  height: 100%;
  background-color: var(--bg);
}

/* Estilos gerais */

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.estrutura {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.titulo {
  color: var(--cor-texto);
  font-size: 36px;
  line-height: 24px;
}

.navegacao-lateral,
.conteudo {
  padding: 60px 15px;
}

.conteudo {
  overflow-y: auto;
}

.navegacao-lateral {
  background-color: var(--bg1);
}

.modelo-cartao {
  display: none;
}

@media (max-width: 1100px) {
  .estrutura {
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh - 80px) 80px;
  }

  .titulo {
    font-size: 24px;
    line-height: 18px;
  }

  .conteudo {
    padding: 30px 15px;
  }

  .navegacao-lateral {
    height: 80px;
    grid-row: 2;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .titulo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border-bottom: 1px solid var(--bg1);
  }
}

/*************************/

.box-cartao {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, auto));
  grid-auto-rows: 200px;
  gap: 15px;
}

@media (max-width: 1600px) {
  .box-cartao {
    grid-template-columns: repeat(3, minmax(280px, auto));
  }
}

@media (max-width: 1300px) {
  .box-cartao {
    grid-template-columns: repeat(2, minmax(280px, auto));
  }
}

@media (max-width: 840px) {
  .box-cartao {
    grid-template-columns: 1fr;
    grid-auto-rows: 150px;

    margin-top: 80px;
  }
}

.cartao {
  position: relative;
  padding: 7px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.75);
}

.excluir-cartao {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: rgba(26, 26, 27, 0.3);
  border-radius: inherit;
}

.cartao:hover .excluir-cartao {
  visibility: visible;
  opacity: 1;
}

.excluir-cartao a {
  color: var(--cor-texto);
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-2 .logo-cartao img {
  float: right;
}

[data-bandeira="visa"] .logo-bandeira img,
[data-bandeira="visa"] .logo-cartao img {
  width: 80px;
}

[data-bandeira="mastercard"] .logo-bandeira img,
[data-bandeira="mastercard"] .logo-cartao img {
  width: 50px;
}

.info-cliente {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-cliente span {
  color: var(--cor-texto);
  font-weight: bold;
  font-size: 0.845em;
}

.box-cartao a {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.125em;
}

.box-cartao a i {
  font-weight: bold;
}

.box-novo {
  border-radius: 15px;
  border: 3px dashed var(--cor1);
}

.box-novo a {
  color: var(--cor1);
}

@media (max-width: 1100px) {
  .box-novo {
    grid-row: 1;
  }
}

/*  Cores dos Cartões  */
[data-id="nu"] {
  background: linear-gradient(45deg, #521071, #d13df1);
}

[data-id="santander"] {
  background-color: #ec0000;
}

[data-id="inter"] {
  background: linear-gradient(45deg, #fe7600, #ff8600);
}

[data-id="neon"] {
  background: linear-gradient(to right, #00a4ef, #00d3d8);
}

[data-id="next"] {
  background-color: #00ff5f;
}

[data-id="c6"] {
  background-color: #242424;
}

[data-id="original"] {
  background: linear-gradient(to right, #00852d, #007426);
}

[data-id="zero"] {
  background: #001f60;
}

[data-id="will"] {
  background: #ffd600;
}

[data-id="meliuz"] {
  background: linear-gradient(to right, #0763af, #ed055d);
}
